@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.App{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  background-color: rgba(33, 33, 33, 0.806);
}